{
  "extends": "airbnb",
  "rules": {
    "indent": [ "error", 4 ], // I like 4 symbols indent
    "react/jsx-indent": ["error", 4], // I like 4 symbols indent
    "react/jsx-indent-props": ["error", 4], // I like 4 symbols indent
    "react/require-default-props": "off", // troubles with react-jss classes prop
    "import/extensions": "off" // hell with node_modules imports
  },
  "globals": {
    "window": true
  }
}